@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    body {
        background-image: radial-gradient(hsla(var(--bc)/.2) 0.5px,hsla(var(--b2)/1) 0.5px);
        background-size: 5px 5px !important;
    }
}

.form-control {
    @apply mb-4;
}

.h1 {
    @apply text-2xl mb-4;
}
.h2 {
    @apply text-xl mb-4;
}
.p {
    @apply mb-4;
}

.bottom-container {
    @apply fixed bottom-0 left-0 p-4 w-full bg-base-100;
    @apply sm:w-96 sm:left-1/2 sm:ml-[-192px] sm:bottom-4 sm:rounded-2xl;
}
.bottom-container-wide {
    @apply bottom-container;
    @apply py-0 bottom-8 opacity-75 bg-transparent w-[72rem] ml-[-36rem] text-center;
}
.left-container {
    @apply pr-2 w-1/2 inline-block;
}
.right-container {
    @apply pl-2 w-1/2 inline-block;
}

.test-symbol {
    @apply text-center text-9xl pt-40 landscape:pt-10 landscape:lg:pt-40;
}
.test-loading {
    @apply text-center pt-40;
}
.test-error {
    @apply text-center text-error pt-40;
}
.test-error .h1 {
    @apply text-3xl;
}

.badge {
    @apply ml-1 mr-1;
}
.badge-slim {
    @apply pl-[4px] pr-[4px];
}

.table th:first-child {
    position: static;
}

/*~~~~~~ SPINNERs */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fdd;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


.loader {
    width: 84px;
    height: 84px;
    position: relative;
    display: inline-block;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50%, -100%) scale(0);
    animation: push 2s infinite linear;
}
.loader:after {
    animation-delay: 1s;
}
@keyframes push {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1)
    }
    100% {
        transform: translate(-50%, -100%) scale(0)
    }
}
/*~~~~~~/ */
